@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat/montserrat.woff2") format("woff2"),
    url("../fonts/Montserrat/montserrat.woff") format("woff");
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat/montserrat-bold.woff2") format("woff2"),
    url("../fonts/Montserrat/montserrat-bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: "Roboto";
    src: local("Roboto Light"), local("Roboto-Light"),
      url("../fonts/Roboto/roboto-v20-latin-300.woff2") format("woff2"),
      url("../fonts/Roboto/roboto-v20-latin-300.woff") format("woff");
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Roboto";
    src: local("Roboto"), local("Roboto-Regular"),
      url("../fonts/Roboto/roboto-v20-latin-regular.woff2") format("woff2"),
      url("../fonts/Roboto/roboto-v20-latin-regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
  }
  